CALLBACK_HOST=127.0.0.1
CALLBACK_PORT=7000
DEVICE_GATEWAY_BASE_URL=http://127.0.0.1:18080
DEVICE_GATEWAY_USERNAME=admin
DEVICE_GATEWAY_PASSWORD=
DEVICE_ID=AD4776127
DEV_INDEX=
HISTORY_START_TIME=
HISTORY_END_TIME=
HISTORY_PAGE_SIZE=30
MAIN_GATEWAY_URL=http://127.0.0.1:8799
MAIN_GATEWAY_API_SECRET=
MAIN_GATEWAY_TIMEOUT_MS=10000
